.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}
.sketchpad{
    border-style: solid;
    border-width: 1px;
}


.square:hover {
    background-color: black;
}
